.root {
  position: relative;
  height: 100vh;
  background: black url(/livingroom.webp) center/cover no-repeat;
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar {
  position: absolute;
  top: 0;
  right: 8%;
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 50%;
  max-width: 25rem;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.dialog {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  line-height: 1.25;
}

.button {
  margin: 1rem auto 0;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  background: rgb(251 191 36);
  font: inherit;
}

.button:active {
  background: rgb(230, 174, 33);
}
